
  body {
    background-color: #FAF7F3;
  }

  hr{
    background-color: #DCC5B2;
    border-style: none;
    height: 3px;
    width: 92%;
  }
  hr.dotted {
    background-color: #FAF7F3;
    border-style: dotted none none none; 
    border-color: #DCC5B2;
    border-width: 6px;
    height: 0;
    width: 15%;
    margin: 30px auto; 
  }

    h1 {
        color: #e2a399;
    }
    h3 {
        color: #e2a399;
    }
    h2 {
        color: #e2a399;
    }

.buttonClass {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:2px;
  color:#505739;
  border-color:#333029;
  font-weight:bold;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  text-shadow: 0px 1px 0px #ffffff;
  background:linear-gradient(#eae0c2, #ccc2a6);
}

.buttonClass:hover {
  background: linear-gradient(#ccc2a6, #eae0c2);
}